.bottoms{
    width: 100%;
    background:#999999;
    /* overflow: hidden; */
    padding: 20px 0 20px 0;
    /* margin-top: 20px; */
}
.put{
    text-align: center;
    /* margin-top: 30px; */
}
.put p{
    font-size: 12px;
    color: #fff;
}
.put span{
    display: block;
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}
@media screen and (min-width:1920px) {
    .bottoms{
        width: 100%;
        background:#999999;
        padding: 20px 0 20px 0;
        margin-top: 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
@media screen and (min-width:1680px) {
    .bottoms{
        width: 100%;
        background:#999999;
        padding: 20px 0 20px 0;
        margin-top: 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
